input[type=text]{
	-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;

}

input[type=text]:focus{
boarder:4px solid #555
		background-color:#3CBC8D;
}

input[text=password]{

width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #3CBC8D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

table { border-collapse: separate; border-spacing: 5px; }

<<<<<<< HEAD
th, td {
    padding: 10px;
}

body{
padding-top:3pt;
padding-bottom:5pt;
padding-left:10pt;
padding-right:6pt;
}

p{
font-family:verdana;
text-align:left;
font-size:25;
padding:3pt,5pt,10pt,6pt;
}
=======

.carusel-control{
position:absoulute;
top:8%;
display:inline-block;
height:350px;
}

div.scroll {
    background-color: #F8F8F8;
    width: 250px;
    height: 200px;
    overflow: scroll;
}
>>>>>>> da887bbbd7277820f52d1e5f949a1999aeb5877b
