{% extends "layout.html" %}

{% block content %}

<h3>Custom Rosaries Inc.</h3>
<p>"Give me an army saying the rosary and I will conqure the world"</p>
<p>-Pope Pius IX</p>
<p>Here that Custom Rosaries Inc. we are commited to provding high quality custom rosaries to any and all customers.</p>
<p>The rosary is a powerful and effective weapon of prayer. For as long as we are funded, with what ever time God gives us, we will continue to arm as many people as possible.</p>
<p>God bless.</p>
<p>
Brian Will: bmwill1995@gmail.com
  
</p>

{% endblock %}
    
        
