{% extends "layout.html" %}

{% block content %}
<!--Add code for displaying products-->

<div class="container text-center">
  <h3>Pre-Made Rosaries</h3><br>
  
  <style>
	     table, th, td {
	          border: 1px solid white;
	          padding: 2px;
	     }
	     table {
	          border-collapse: collapse;
	     }
	</style>
  
  
  <table style='width:75%'>
    
    <tr>
      <col width="300">
      <th><center>Image</center></th>  <!--Shows an image of the rosary in question-->
      <th><center>Description</center></th>  <!--Provides a short description of the rosary, such as materials-->
      <th><center>Price</center></th>  <!--The price of the rosary-->
      <th><center>Buy</center></th>  <!--A link to the "confirm order" (or whatever we'll call it) page-->
    </tr>
    
    {% for rosary in rosaries %}
    
    <tr>
      <td><img src={{rosary.image}} style=width:50% style=height:50% alt="Image"></td>
      <td>A {{rosary.primary_bead}} and {{rosary.secondary_bead}} rosary with a {{rosary.center_piece}} centerpiece and a {{rosary.crucifix}} crucifix</td>
      <td>{{rosary.price}}</td>
      <td>
        <!--Somehow, the rosary's info will have to be sent to whatever "confirm order" page we end up doing-->
        <form method="POST" action="/buy">  <!--Should this be merged with "Price" so as to create a button with the current price on it?-->
          <input type="hidden" name="primary_bead" value={{rosary.primary_bead}}>
          <input type="hidden" name="secondary_bead" value={{rosary.secondary_bead}}>
          <input type="hidden" name="center_piece" value={{rosary.center_piece}}>
          <input type="hidden" name="crucifix" value={{rosary.crucifix}}>
          <input type="submit" value="Buy">
        </form>
      </td>
      
    </tr>
    
    {% endfor %}
  </table>



{% endblock %}
