{% extends "layout.html" %} {% block content %}

<div class="container">
    <div class="wrapper">
        <header>
            <h1>Prayer Intentions</h1>
            <div class="scroll" id="msgpane">
                <p ng-repeat="p in prayer">
                    <span ng-bind="p.text"></span>
                </p>
            </div>
            <form ng-submit="send()">
                <input type="text" ng-model="text" size="30" placeholder="..">
                <input type="submit" value="Send">
            </form>
        </header>
    </div>
    <script src="js/scale.fix.js"></script>
</div>


{% endblock %}