{% extends "layout.html" %}

{% block content %}



<h2>Orders</h2>
<table>
    
    <tr><td>Order ID</td><td>Username</td><td>Hail Mary</td><td>Our Father</td><td>Price</td></tr>
    {% for c in results %}
    <tr><td>{{c[0]}}</td><td>{{c[1]}}</td><td>{{c[2]}}</td><td>{{c[3]}}</td><td>{{c[4]}}</td></tr>
    {% endfor %}
</table>



<form method = "POST">
<h3>Beads</h3>
<table>
    <tr><td>Type of Bead:</td>
    <td><select name='bead'>
        <option value="Hail_Mary_Bead">Hail Mary Bead</option>
        <option value="Our_Father_Bead">Our Father Bead</option>
    </select></td></tr>
    <tr><td>Color:</td><td><input type ='text' name='new_bead_color'/></td></tr>
    <tr><td>Amount:</td><td><input type ='number' name='new_bead_number' style='width: 50px'/></td></tr>
</table>
</form>



{% endblock %}