{% extends "layout.html" %}

{% block content %}

 <h3>What We Do</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="static/Image/rosari1.jpeg" class="img-responsive" style="width:100%" alt="Image">
      <p>Newest Product!</p>
    </div>
    <div class="col-sm-4">
      <img src="static/Image/rosari2.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>On sale!</p>
    </div>
    <div class="col-sm-4">
      <div class="well">
       <p>Come browser our fine stock</p>
      </div>
      <div class="well">
       <p>Unforturantly out of stock</p>
      </div>
    </div>
  </div>
  
{% endblock %}